[submodule "tvm"]
    path = tvm
	url = git@github.com:xiongdl/apache-tvm.git
    branch = tvm_v0.17.0

[submodule "vta"]
    path = vta
	url = git@github.com:xiongdl/zvslab-vta.git
    branch = vta_v0.0.2
